/*--------------------------------------
------------// Generale //--------------
---------------------------------------*/

body,
button,
html,
input,
select,
textarea {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  font-size: 16px;
}

body {
  height: 100%;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
}

h1,
h2,
h3,
h4 {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-ico {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.01);
  border: none;
  margin: 0 5px;
}

.grn {
  color: seagreen;
}

/*------------------------
  ------Scroll--------------
  --------------------------*/


.navbar {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  color: rgb(194, 53, 53);
  font-size: 1.6rem;
  padding: 5px;
  margin-left: 50px;
}

.logout {
  border: none;
  box-shadow: none;
  background: none;
  border-radius: 5px;
  margin-top: 10px;
}
.logout:hover {
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* inputes */
.modal-body input,
.list-container .card-groupe input {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 28px;
  width: 318px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.modal-body input:hover,
.list-container .card-groupe input {
  border-color: rgba(0, 0, 0, 0.8);
}
.modal-body input:focus,
.list-container .card-groupe input {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-color: rgb(194, 53, 53);
  border-radius: 5px;
  outline: 5px;
}

.modal-valid {
  background-color: rgb(194, 53, 53);
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: snow;
  padding: 8px;
}

.modal-header,
.modal-body,
.modal-foot {
  margin: 0;
  padding: 20px;
}
.modal-foot {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-header h4,
.modal-body h5,
.modal-foot h5 {
  margin: 8px;
}

.MuiInputBase-input-28 {
  margin: 0;
  padding: 2px 2px 2px !important;
}

/* js */
.js-drop-down {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 15px;
  box-shadow: 2px 2px 2px rgba(9, 30, 66, 0.25);
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(9, 30, 66, 0.25);
}

.sidebar-user:hover .js-drop-down {
  display: block;
}
