/* 
    main colors
    black: #36393f
    red: rgb(194, 53, 53)

    gray: #dfe1e6
 */
.dashbord {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 2fr 4fr 4fr;
  grid-template-rows: 100vh;
  grid-gap: 40px 40px;
  padding: 0px 0 2px 0;
  align-items: start;
}

.side-bar {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
}
.list-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.side {
  grid-column: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.filted-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: auto;
}
/*--------------------------------------
------------// tasks //--------------
---------------------------------------*/
.task-group-item,
.list-group-item {
  margin: 7px 7px 7px 7px;
  border-radius: 3px;
  line-height: 32px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}
.list-group-item:hover {
  background-color: rgb(253, 230, 230);
}
.list-group-item {
  display: flex;
  flex-direction: row;
}
.task-group-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card,
.list-container {
  display: flex;
  flex-direction: column;
}
.card-groupe {
  overflow: auto;
}

.inp {
  border: none;
  background-color: transparent;
  padding: 5px 5px;
}
.header-card {
  display: flex;
  flex-direction: column;
  padding: 3px;
  padding-left: 15px;
  justify-content: space-between;
  align-items: flex-start;
}

.card-bottom-add {
  height: 46px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.MuiInputBase-input-28 {
  color: #fff !important;
  background-color: rgb(194, 53, 53) !important;
  width: 42px !important;
  font-size: 0.7rem !important;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.MuiInput-underline-9:before {
  content: "" !important;
  border: none !important;
}
/*--------------------------------------
------------//  //--------------
---------------------------------------*/
.time-piker {
  display: none;
}
.time-badge {
  height: 20px;
  width: 30px;
  color: gray;
}
.control {
  display: flex;
}

.task-name {
  width: 98%;
}

.quote-box {
  background-color: rgb(85, 85, 85);
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

/*shadow*/

/* .card,
.list-container,
.quote-box,
.task-container,
.filted-container
{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
} */

/* background*/
.task-container {
}
.side-bar {
  background-color: rgb(49, 49, 49);
}
.side {
  background-color: rgba(230, 230, 230, 0.1);
}

.fa-plus {
  color: rgb(126, 117, 117);
  background-color: transparent;
  padding: 2px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}
.fa-plus:before {
  margin-left: 1.2px;
}
.fa-plus:hover {
  color: rgb(194, 53, 53);
}

.btn-ico {
  font-size: 20px;
  height: 32px;
  width: 32px;
  color: #36393f;
  cursor: pointer;
}
.btn-ico:hover {
  background-color: #89898a98;
}
.btn-ico:focus {
  animation: click 40ms linear 20ms;
}

.active {
  background-color: rgb(194, 53, 53) !important;
  color: #fff;
}

.modal {
  position: absolute;
  left: 20vw;
  top: 10vh;
  background-color: aliceblue;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  width: 40vw;
  height: 60vh;
  border-radius: 5px;
}

/* animation */
@keyframes click {
  0% {
  }

  100% {
    transform: scale(1.6);
  }
}

/* user */
.sidebar-user {
  display: flex;
  padding: 20px;
}
.sidebar-listes {
  padding: 20px;
}

.sidebar-user img {
  border: 1px solid #fff;
  border-radius: 25px;
}

.sidebar-user-name {
  padding-top: 20px;
  padding-left: 5px;
}
.fa-angle-double-down {
  padding-top: 25px;
  padding-left: 5px;
}

.sidebar-sign {
  padding: 10px;
}
.haert {
  color: red;
}
